@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 99.8%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: .5px solid #33333357;
  @include desktop-1000 {
    width: 99%;
  }
  input {
    width: 180px;
    padding: 10px;
    margin-left: 115px;
    background: url('/img/search-dark.png') no-repeat 170px 13px;
    border: 1px solid #33333357;
    @include desktop-1400 {
      margin-left: 50px;
    }
  }
  nav {
    margin-right: 115px;
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    a {
      width: 30px;
      height: 40px;
      align-items: center;
      justify-content: center;
      display: flex;
      @include button__mobile($cor-secundaria);
    }
  }
}